[submodule "3rdparty/open62541"]
	path = 3rdparty/open62541
	url = https://github.com/open62541/open62541.git
[submodule "3rdparty/doctest"]
	path = 3rdparty/doctest
	url = https://github.com/doctest/doctest.git
[submodule "3rdparty/doxygen-awesome-css"]
	path = 3rdparty/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "3rdparty/open62541-nodeset-loader"]
	path = 3rdparty/open62541-nodeset-loader
	url = https://github.com/open62541/open62541-nodeset-loader.git
