name: Doc

on:
  push:
    branches: [master]
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  doc:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install Doxygen and Graphviz
        run: |
          sudo apt update
          sudo apt install -y doxygen graphviz
      - name: Build documentation
        run: |
          mkdir build
          cd build
          cmake -DUAPP_BUILD_DOCUMENTATION=ON ..
          cmake --build . --target open62541pp_doc
      - name: Deploy
        if: (github.event_name == 'release' || github.event_name == 'workflow_dispatch')
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/doc_html
      - uses: actions/upload-artifact@v6
        with:
          name: doc-html
          path: build/doc_html/
          compression-level: 1
