name: Examples

on:
  push:
    branches: [master]
  pull_request:

jobs:
  examples:
    name: Examples
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Configure CMake
        run: >
          cmake -S . -B ./build -G Ninja
          -DUA_ENABLE_METHODCALLS=ON
          -DUA_ENABLE_SUBSCRIPTIONS=ON
          -DUA_ENABLE_SUBSCRIPTIONS_EVENTS=ON
          -DUA_MULTITHREADING=100
          -DUAPP_BUILD_EXAMPLES=ON
      - name: Build
        run: cmake --build ./build --parallel
      - name: Run examples
        run: python3 ./tools/run_examples.py ./build/bin/
