name: Compatibility

on:
  push:
    branches: [master]
  pull_request:

jobs:
  external-open62541:
    name: >-
      ${{ matrix.version }}
      (${{ matrix.build-type }},
      ${{ matrix.library-type }},
      ${{ matrix.amalgamation && 'amalgamated' || 'default' }})
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: true
      matrix:
        version:
          - v1.0.6
          - v1.1.6
          - v1.2.10
          - v1.3.15
          - v1.4.11
        build-type:
          - Debug
          - Release
        library-type:
          - static
          - shared
        amalgamation:
          - false
          - true
        exclude:
          - version: "v1.4.11"
            amalgamation: true # installation with UA_ENABLE_AMALGAMATION=ON is not possible in v1.4
          # reduce number of jobs
          - library-type: static
            amalgamation: true
          - build-type: Debug
            library-type: shared
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Checkout open62541 version ${{ matrix.version }}
        uses: actions/checkout@v5
        with:
          repository: open62541/open62541
          ref: ${{ matrix.version }}
          path: open62541
          submodules: recursive
      - name: Build & install open62541
        env:
          CFLAGS: "-Wstrict-overflow=0" # disable strict-overflow error in v1.1
        run: |
          cd open62541
          mkdir build
          cd build
          cmake -G Ninja \
            -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} \
            -DBUILD_SHARED_LIBS=${{ matrix.library-type == 'shared' }} \
            -DUA_ENABLE_AMALGAMATION=${{ matrix.amalgamation }} \
            -DUA_ENABLE_SUBSCRIPTIONS=ON \
            -DUA_ENABLE_SUBSCRIPTIONS_EVENTS=ON \
            -DUA_ENABLE_NODESETLOADER=ON \
            ..
          cmake --build . --parallel
          sudo cmake --install .
      - name: Build
        run: |
          mkdir build
          cd build
          cmake -G Ninja \
            -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} \
            -DUAPP_BUILD_TESTS=ON \
            -DUAPP_BUILD_EXAMPLES=ON \
            -DUAPP_INTERNAL_OPEN62541=OFF \
            -DUAPP_ENABLE_SANITIZER_UNDEFINED=ON \
            -DUAPP_ENABLE_SANITIZER_ADDRESS=ON \
            ..
          cmake --build . --parallel
      - name: Run tests
        run: ctest --test-dir build --output-on-failure
