name: Compatibility

on: [push, pull_request]

jobs:
  external-open62541:
    name: open62541 ${{ matrix.version }} (${{ matrix.build_type }}, ${{ matrix.library_type }})
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        version:
          - v1.0.6
          - v1.1.6
          - v1.2.7
          - v1.3.5
        build_type: ["Debug", "Release"]
        library_type: ["static", "shared"]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Checkout open62541 version ${{ matrix.version }}
        uses: actions/checkout@v3
        with:
          repository: open62541/open62541
          ref: ${{ matrix.version }}
          path: open62541
          submodules: recursive
      - name: Install open62541
        run: |
          cd open62541
          mkdir build
          cd build
          cmake \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DBUILD_SHARED_LIBS=${{ matrix.library_type == 'shared' }} \
            ..
          cmake --build . -- -Wno-error
          sudo cmake --install .
      - name: Compile and run tests
        run: |
          mkdir build
          cd build
          cmake \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DUAPP_BUILD_TESTS=ON \
            -DUAPP_BUILD_EXAMPLES=ON \
            -DUAPP_INTERNAL_OPEN62541=OFF \
            ..
          cmake --build .
